<app-nav></app-nav>
<div class="fl">
    <button type="submit" class="btn btn-primary" (click)="app()" value="Logout">Applied
        Jobs</button>
    <button type="submit" class="btn btn-primary" (click)="onup()">Update</button>
    <button type="submit" class="btn btn-danger" (click)="onLogout()" value="Logout">Logout</button>
</div>
<div>
    <section class="section about-section gray-bg" id="about">
        <div class="container" *ngIf="!this.check; else elseBlock">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <h3 class="dark-color">Welcome</h3>
                        <p>I services for customers of all sizes, specializing in creating
                            stylish, modern websites, web services and online stores. My passion is to design digital
                            user
                            experiences through the bold interface and meaningful interactions.</p>
                        <div class="row about-list">
                            <div class="col-md-8">
                                <p>I services for customers of all sizes, specializing in
                                    creating
                                    stylish, modern websites, web services and online stores. My passion is to design
                                    digital user
                                    experiences through the bold interface and meaningful interactions.</p>
                                <br> <br>
                                <button type="submit" class="btn btn-success" (click)="apply()" value="Logout">Apply
                                    Jobs</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-avatar">
                        <img src="../assets/img/profile.svg" title="" alt="">
                    </div>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="container">
                <button type="submit" class="btn btn-danger" (click)="chex()">close</button> <br> <br>
                <div class="con">
                    <form class="example-form" [formGroup]="userservice.logi1" (submit)="Submit()">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>FirstName</mat-label>
                            <input type="text" matInput formControlName="first" placeholder="FirstName">
                            <span class="error" *ngIf="first!.invalid &&first!.touched">*FirstName
                                is Required</span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>LastName</mat-label>
                            <input type="text" matInput formControlName="last" placeholder="LastName">
                            <span class="error" *ngIf="last!.invalid &&last!.touched">*LastName is
                                Required</span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput formControlName="email" placeholder="Ex. pat@example.com">
                            <span class="error" *ngIf="email!.invalid &&email!.touched">*Email is
                                Required</span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Phone</mat-label>
                            <input type="text" matInput formControlName="phone" placeholder="123456789">
                            <span class="error" *ngIf="phone!.invalid &&phone!.touched">*phone is
                                Required</span>
                        </mat-form-field>
                        <div class="upload"><a href="{{this.link}}" target="blank">View Previously uploaded Resume
                                Here</a> ____OR_____ <button class="btn btn-primary" type="button"
                                (click)="shup()">Replace File</button></div>
                        <div class="mb-3 con1" *ngIf="this.shu">
                            <div class="gf">RESUME</div>
                            <input type=file (change)="upload($event)" />
                            <div *ngIf="this.showres">
                                <div class="sz" *ngIf="!this.downloadurl; else elseBlock">
                                    <mat-spinner></mat-spinner>
                                    uploading...
                                </div>
                                <ng-template #elseBlock>
                                    <span>
                                        Uploaded
                                    </span>
                                </ng-template>
                            </div>
                            <button class="btn btn-danger" (click)="clup()">close</button>
                        </div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Address</mat-label>
                            <input type="text" matInput formControlName="address" placeholder="Ex. Address">
                            <span class="error" *ngIf="address!.invalid &&address!.touched">*address
                                is Required</span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Postalcode</mat-label>
                            <input type="text" matInput formControlName="Postalcode" placeholder="Ex.530026">
                            <span class="error" *ngIf="post!.invalid &&post!.touched">*Postalcode is
                                Required</span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>city</mat-label>
                            <input type="text" matInput formControlName="City" placeholder="Ex.visakhapatnam">
                            <span class="error" *ngIf="City!.invalid &&City!.touched">*City is
                                Required</span>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Country</mat-label>
                            <input type="text" matInput formControlName="Country" placeholder="Ex.India">
                            <span class="error" *ngIf="Country!.invalid &&Country!.touched">*Country
                                is Required</span>
                        </mat-form-field>
                        <div>
                            <button type="submit" class="btn btn-primary btx">Update</button>
                        </div>
                        <br>
                    </form>
                </div>
                <br>
            </div>
        </ng-template>
    </section>
</div>
<app-footer></app-footer>