<!-- Section: Design Block -->
<app-nav></app-nav>
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Signup Here
                        <span class="text-primary">for your business</span>

                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                        quibusdam tempora at cupiditate quis eum maiores libero
                        veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="alert alert-danger alert-dismissible fade show" *ngIf="this.error" role="alert">
                        {{this.error}}
                        <button (click)="els()" class="btn btn-danger">close</button>
                    </div>
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <div class="con">
                                <form class="example-form" [formGroup]="userservice.logi" (submit)="Submit()">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>FirstName</mat-label>
                                        <input type="text" matInput formControlName="first" placeholder="FirstName">
                                        <span class="error" *ngIf="first!.invalid &&first!.touched">*FirstName is
                                            Required</span>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>LastName</mat-label>
                                        <input type="text" matInput formControlName="last" placeholder="LastName">
                                        <span class="error" *ngIf="last!.invalid &&last!.touched">*LastName is
                                            Required</span>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Password</mat-label>
                                        <input type="password" matInput formControlName="password"
                                            placeholder="LastName" minlength="4">
                                        <span class="error" *ngIf="password!.invalid &&password!.touched">*Password is
                                            Required</span>
                                        <!-- <label *ngIf="password.errors['minlength']" class="validation-message">Enter atleast 4 characters.</label> -->
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>ConfirmPassword</mat-label>
                                        <input type="password" matInput formControlName="cpassword"
                                            placeholder="ConfirmPassword">
                                        <span class="error" *ngIf="password!.invalid &&password!.touched">*Password is
                                            Required</span>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input type="text" matInput formControlName="email"
                                            placeholder="Ex. pat@example.com">
                                        <span class="error" *ngIf="email!.invalid &&email!.touched">*Email is
                                            Required</span>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Phone</mat-label>
                                        <input type="text" matInput formControlName="phone" placeholder="123456789">
                                        <span class="error" *ngIf="phone!.invalid &&phone!.touched">*phone is
                                            Required</span>
                                    </mat-form-field>
                                    <div class="mb-3 con1">
                                        <div class="gf">Resume</div>
                                        <input type=file (change)="upload($event)" />
                                        <div *ngIf="this.show">
                                            <div class="sz" *ngIf="!this.download; else elseBlock">
                                                <mat-spinner></mat-spinner>
                                                uploading...
                                            </div>
                                            <ng-template #elseBlock>
                                                <span>
                                                    Uploaded
                                                </span>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Address</mat-label>
                                        <input type="text" matInput formControlName="address" placeholder="Ex. Address">
                                        <span class="error" *ngIf="address!.invalid &&address!.touched">*address is
                                            Required</span>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Postalcode</mat-label>
                                        <input type="text" matInput formControlName="Postalcode"
                                            placeholder="Ex.530026">
                                        <span class="error" *ngIf="post!.invalid &&post!.touched">*Postalcode is
                                            Required</span>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>city</mat-label>
                                        <input type="text" matInput formControlName="City"
                                            placeholder="Ex.visakhapatnam">
                                        <span class="error" *ngIf="City!.invalid &&City!.touched">*City is
                                            Required</span>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Country</mat-label>
                                        <input type="text" matInput formControlName="Country" placeholder="Ex.India">
                                        <span class="error" *ngIf="Country!.invalid &&Country!.touched">*Country is
                                            Required</span>
                                    </mat-form-field>
                                    <div>
                                        <button type="submit" class="btn btn-primary btx"
                                            [disabled]="!this.userservice.logi.valid && !this.download">Submit</button>
                                    </div>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
<!-- Section: Design Block -->