.f{
    position: relative;
    top:10em;
}
h2{
    text-align: center;
    margin-top:1em;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btx{
    outline: none;
}
.fgc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0.3em;
}
.cn{
    margin-top:5em;
}