<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet">
<app-nav></app-nav>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../assets/img/login.svg"class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="alert alert-danger alert-dismissible fade show" *ngIf="this.error" role="alert">
          {{this.error}}
          <button (click)="els()" class="btn btn-danger">close</button>
        </div>
        <br>
        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in With Your Recruit Account</p>
          </div>
          <br>
          <div class="example-container">
            <mat-form-field appearance="fill">
              <input matInput #input type="text" name="email" #email="ngModel" [(ngModel)]="model.email"
                placeholder="Email" [pattern]="emailRegex" required
                [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
            </mat-form-field>
          </div>
          <div *ngIf="signInForm.submitted && email.errors">
            <label class="validation-message">Invalid email address.</label>
          </div>
          <div class="example-container">
            <mat-form-field appearance="fill">
              <input matInput #input type="password" name="password" #password="ngModel" [(ngModel)]="model.password"
                placeholder="Password" required minlength="4"
                [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
            </mat-form-field>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/employeesignup"
                class="link-danger">Register</a></p>
                <br>
            <p class="small fw-bold mt-2 pt-1 mb-0"><a routerLink="/employee/forgot/password"
                  class="link-danger">Forgot password?</a></p>   
          </div>

        </form>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</section>