@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.fl{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap:0.3em;
  margin-top: 1em;
}
.fd{
    display: flex;
    align-items: center;
    gap:0.3em;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}
.f{
    position: relative;
    top:15em;
}
.pf{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:0.3em;
    margin-top: 1em;
}
.fgc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0.3em;
}
.cn{
    margin-top:5em;
}