<app-nav></app-nav>
<div>
    <div  class="cn" *ngIf="!this.show; else elseBlock">
        <div class="w3-container fgc">
            <div class="w3-card-4" style="width:60%">
                <header class="w3-container w3-light-green">
                    <h1 style="text-align: center;">Enter your mail</h1>
                </header>
                <div class="w3-container fgc">
                    <mat-form-field appearance="fill">
                        <input matInput type="text" [(ngModel)]="this.user" placeholder="enter you mail">
                    </mat-form-field>
                </div>
                <button class="w3-button w3-block w3-blue" (click)="find()">Find</button>
            </div>
            <p class="small fw-bold mt-2 pt-1 mb-0"><a routerLink="/employeelogin" class="link-success">Back to
                    login</a></p>
        </div>
        </div>
        <ng-template #elseBlock>
            <div class="cn">

                <div class="w3-container fgc">
                    <div class="w3-card-4" style="width:60%">
                    <header class="w3-container w3-light-green">
                        <h1 style="text-align: center;">Enter the otp sent to your mail (the otp will expire in 1 minute)</h1>
                    </header>
                    <div class="w3-container fgc">
                        <mat-form-field appearance="fill">
                            <input matInput type="text" placeholder="enter your otp" [(ngModel)]="this.otp1"> <br>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <input matInput type="password" [(ngModel)]="this.pass" placeholder="Enter your password">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <input matInput type="password" [(ngModel)]="this.cpass" placeholder="Confirm your password">
                        </mat-form-field>
                    </div>
                    <button class="w3-button w3-block w3-blue" (click)="password()">Update</button>
                </div>
                <p class="small fw-bold mt-2 pt-1 mb-0"><a routerLink="/employeelogin" class="link-success">Back to
                        login</a></p>
            </div>
        </div>
        </ng-template>
        <div *ngIf="this.shp">
            <div *ngIf="!this.userd" class="pf">
                <br>
                <p>No email found!</p>
                <br>
            </div>
        </div>
    </div>
    <div class="f">
        <app-footer></app-footer>
    </div>