<footer id="footer">
    <div class="mcon">
  <ul class="con">
      <li>
          <h1>Recruit</h1>
      </li>
      <li>
          &copy; Copyright 2022
      </li>
  </ul>
    <div class="con1">
      <ul>
          <li><h1>Support</h1></li>
          <li> <a routerLink="/contact">Contact us</a></li>
      </ul>
    
    </div>
    <div class="con2">
        <ul>
            <li><h1>Social</h1></li>
            <li>Twitter</li>
            <li>Facebook</li>
            <li></li>
        </ul>
      
      </div>
</div>

</footer>