@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.mcon{
    display: flex;
    flex: 1;
    justify-content:space-around ;
    padding: 20px;
}
ul > li {
    position: relative;
    bottom: 4px;
    padding: 3px 2px;
    color: #fff;
    display: flex;
    align-items: center;
}
.con1{
    position: relative;
    bottom: -1px;
    padding: 6px;
}
.con2{
    padding: 6px;

    position: relative;
    bottom: 6px;
}
ul> li > i,
ul>li>a{
    color: white;
    text-decoration: none;
}

footer{
    background: black;
    height: 13em;
    overflow: hidden;
   
}

@media only screen and (max-width:760px){
    .mcon{
        padding: 1px 40px;
        margin-left: -2em;
        margin-top: 0.7em;
    }
    .con,.con1,.con2 li{
        font-size: x-small;
      
    }
    .con,.con1,.con2 li h1{
        position: relative;
        top: 2px;
    }
    
}