.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }  
  .custom {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.sz{
  width: 10%;
  height: 10%;
}