<app-nav></app-nav>
<div class="fs">
    <button class="btn btn-primary" (click)="dash()">Back to DashBoard</button>
    <button class="btn btn-danger">Logout</button>
</div>
<div *ngIf="!this.open; else elseBlock">
    <div *ngIf="!this.shp; else elseBlock">
        <div class="m">
            <h1><b>Posted Jobs</b></h1>
            <ul>
                <li *ngFor="let elem of this.dat">
                    <div >
                        <div class="w3-container fgc">
                            <div class="w3-card-4 fgc" style="width:80%">
                                <header class="fgc">
                                    <b class="bd">ROLE</b> {{elem['role']}} 
                                    <b class="bd">TYPE</b>{{elem['type']}}
                                </header>
                                <div class="w3-container fgc">
                                    <b class="bd">JOB DESCRIPTION</b>
                                    <button class="w3-button w3-block w3-green" (click)="v(elem['desc'])">view</button>
                                </div>
                                <button class="w3-button w3-block w3-red"
                                    (click)="delete(elem['CompanyName'],elem['role'],elem[' address'],elem['type'],elem['desc'],elem['other'],elem['email'])">Delete
                                    this job</button>
                                <button class="w3-button w3-block w3-blue"
                                    (click)="getapp(elem['role'],elem['CompanyName'],elem['email'])">
                                    see Applied
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="sh" *ngIf="this.show">
            <div class="fgc">
                <button class="btn btn-danger fgc " (click)="close()">
                    close
                </button>
            </div>
            <h1><b>Applicants for the role <mark> "{{this.role}}"</mark></b></h1>
            <br>
            <span *ngFor="let elem of this.appliedData">
                <div class="w3-container fgc ">
                    <div class="w3-card-4" style="width:70%">
                        <header class="w3-container w3-light-grey fgc">
                            <b> Name :</b>
                            <h3>{{elem['name']}}</h3>
                            <b>Email: </b> {{elem['mail']}}
                            <b>Resume: </b> <button class="btn btn-primary" (click)="view(elem['res'])">View</button>
                        </header>
                        <h1 style="color: green;"><b>
                                Recruit Full Resume Analysis
                            </b>
                        </h1>
                        <div class="w3-container fgc">
                            <b>
                                <h1>
                                    The Applicant resume matches <b style="color:blue;">{{elem['match']}}%</b>of Job
                                    Description
                                </h1>
                            </b>
                            <h1>Personality Insights Analysis</h1>
                            <span>
                                <b>
                                    achievement_striving :
                                </b>
                                {{elem['achievement']}}%
                            </span>
                            <span>
                                <b>
                                    active :
                                </b>
                                {{elem['active']}}%
                            </span>
                            <span>
                                <b>
                                    agreeableness :
                                </b>
                                {{elem['agreeableness']}}%
                            </span>
                            <span>
                                <b>
                                    conscientiousness :
                                </b>
                                {{elem['conscientiousness']}}%
                            </span>
                            <span>
                                <b>
                                    cooperative :
                                </b>
                                {{elem['cooperative']}}%
                            </span>
                            <span>
                                <b>
                                    disciplined :
                                </b>
                                {{elem['disciplined']}}%
                            </span>
                            <span>
                                <b>
                                    emotionally_aware :
                                </b>
                                {{elem['emotionally_aware']}}%
                            </span>
                            <span>
                                <b>
                                    extraversion :
                                </b>
                                {{elem['extraversion']}}%
                            </span>
                            <span>
                                <b>
                                    imaginative :
                                </b>
                                {{elem['imaginative']}}%
                            </span>
                            <span>
                                <b>
                                    intellectual :
                                </b>
                                {{elem['intellectual']}}%
                            </span>
                            <span>
                                <b>
                                    neuroticism :
                                </b>
                                {{elem['neuroticism']}}%
                            </span>
                            <span>
                                <b>
                                    openness :
                                </b>
                                {{elem['openness']}}%
                            </span>
                            <span>
                                <b>
                                    trusting :
                                </b>
                                {{elem['trusting']}}%
                            </span>
                        </div>
                        <div class="w3-container fgc">
                            <h1>Sentimental Analysis</h1>
                            <span>
                                <b>
                                    PositiveNess :
                                </b>
                                {{elem['positive']}}%
                            </span>
                            <span>
                                <b>
                                    NegativeNess :
                                </b>
                                {{elem['negative']}}%
                            </span>
                            <span>
                                <b>
                                    Neutral :
                                </b>
                                {{elem['neutral']}}%
                            </span>
                            <span>
                                <b>
                                    Compound :
                                </b>
                                {{elem['compound']}}%
                            </span>
                        </div>
                        <button class="w3-button w3-block w3-blue"
                            (click)="shv(elem['name'],elem['mail'],elem['res'],elem['role'],elem['type'])">Send a hiring mail</button>
                    </div>
                </div>
            </span>
        </div>
    </ng-template>
</div>
<ng-template #elseBlock>
    <div class="x" *ngIf="this.sx">
        <div class="w3-container fgc">
            <div class="w3-card-4" style="width:100%">
                <header class="w3-container w3-light-blue fgc">
                    <b style="text-align:center; font-size:medium;">Recruiter Hiring Space</b>
                    Enter a message for Applicant and click on send to Deliver it
                </header>
                <div class="w3-container fgc">
                    <textarea name="" id="" cols="50" rows="10" [(ngModel)]="this.c1"></textarea>
                </div>
                <button class="w3-button w3-block w3-blue" (click)="send()">send</button>
                <button class="w3-button w3-block w3-red" (click)="cl()">close</button>
            </div>
        </div>
    </div>
</ng-template>
<div class="foo">
    <app-footer></app-footer>
</div>



