<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vesperr Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->

  <!-- End Header -->
  <div class="con1">
    <header>
        <a href="#" class="logo">Recruit</a>
        <ul id='scr'>
            <li> <a routerLink="/home" class="active">Home</a> </li>
            <li><a routerLink="/employeelogin">employeelogin</a></li>
            <li><a routerLink="/recruiterlogin">recruiterlogin</a></li>
        </ul>
       
    </header>
   
</div>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Got Talent ?</h1>
          <h2 data-aos="fade-up" data-aos-delay="400"> Meet Opportunity</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a routerLink="/employeelogin" class="btn-get-started scrollto">Helping millions of people find their dream jobs in a remote-first world</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img cl" data-aos="fade-left" data-aos-delay="200">
        <img src="assets/img/jo.svg" class="img-fluid animated" alt="">
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Single point access to over<br> 100+ job boards</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">We search for new jobs daily from all leading job boards <br>
              to bring you the best opportunities in the industry you are looking for.</h2>
            <div data-aos="fade-up" data-aos-delay="800">
              <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
            <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
    </section><!-- End Clients Section -->


      <section id="hero" class="d-flex align-items-center">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
              <div class="d-flex flex-column"> 
                <h1>Our core Values</h1>
            <div class="v">
                <span>
                    Innovation
                </span>
            </div>
            <div class="v">
                <span>
                    Passion
                </span>
            </div>
            <div class="v">
                <span>
                    Continuous Improvement
                </span>
            </div>
            <div class="v">
                <span>
                    Quality
                </span>
            </div>
            <div class="v">
                <span>
                    Empathy
                </span>
            </div>
            <div class="v">
                <span>
                    Integrity
                </span>
            </div>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
              <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
          </div>
        </div>
    
      </section>
     

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">



          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form>
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <br>
              <div class="form-group">
                <button class="btn btn-primary">Send Message</button>
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Recruit</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">Recruit</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
</html>